node_modules/
dist/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
client/node_modules/
client/dist/
server/node_modules/
server/dist/
server/public/
server/dev.db
server/dev.db-journal
__pycache__/
*.pyc
